*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*HEAADER*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-conainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 76px;
}

.nav-head .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
}

.nav-list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-list {
  font-weight: 500;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.address-list:hover,
.address-list:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address .address-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

/*TITLE SECTION*/

.title-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
}

.title-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 500;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.container .button {
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
}

/*ADVANTAGES SECTION*/

.title-two {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages .container {
  height: 344px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.advantages-list .advantages-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
}

.advantages-list-item .title-three {
  margin-bottom: 8px;
}

.title-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

/*TEAM SECTION*/

.team-section {
  background-color: #f4f4fd;
}

.team-background {
  background-color: #ffffff;
}

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .title-two {
  margin-bottom: 72px;
}

.container .team-background-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-background-list .team-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: calc((100% - 72px) / 4);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-background .name-position {
  padding: 32px 0;
}

.name-position .title-three {
  text-align: center;
  margin-bottom: 8px;
}

.name-position .paragraph-text {
  text-align: center;
}

/*PORTFOLIO SECTION*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list .portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list-item .portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-list-item img {
  width: 360px;
}

.portfolio-card .title-three {
  margin-bottom: 8px;
}

/*FOOTER SECTION*/

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: #f4f4fd;
}

.container .logo {
  display: inline-block;
}

.container .footer-text {
  width: 264px;
  padding-top: 16px;
}
